{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    div{
        width: 800px;
        height:710px;
        margin-top: 1%;
        margin-bottom: 20%;
        margin-left: 20%;
    }
</style>

</head>
<body>
<div style="background-color:#00dd8c;">
    <p>Level2</p>
    <p style=" margin-top: 20px;height: 40px;text-align: center;margin-bottom: 10px;">The disorganized word is</p>
    <div style="margin-left: 8%;margin-top: 4px;height: 30px;margin-bottom: 20px;resize:none;resize: unset;"><textarea readonly cols="90" rows="3" id="showWord" style="resize: none;">{{ jumble }}</textarea></div>
    <p style="text-align: center;margin-top: 54px;">Please enter your guessing</p>
    <div style="margin-left: 8%;margin-top: 4px;height: 70px;margin-bottom: 10px;resize:none;resize: unset;"><textarea cols="90" rows="3" id="guessWord" style="resize: none;"></textarea></div>

        <p style="text-align: center;">Used Time: <input type="text" id="usedTime" style="height:40px;" readonly></p>
        <p style="text-align: center;">Current points: <input type="text" id="currentPoints" style="height:40px;" value="0" readonly></p>
    <div style="margin-left: 8%;margin-top: 34px;height: 30px;margin-bottom: 20px; ">&nbsp;&nbsp;&nbsp;&nbsp;Result: <textarea readonly cols="60" rows="3" id="resultText" style="resize: none;margin-left:60px;"></textarea></div>
    <div style="margin-left: 8%;margin-top: 34px;height: 30px;margin-bottom: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;Tips:  <textarea readonly cols="60" rows="3" id="tipsText" style="resize: none;margin-left:73px;"></textarea></div>

    {#    <h1 style="text-align: center;color:#00f91a;margin-top: 65px;">CONGRATULATIONS</h1>#}
    <h1 style="text-align: center;color:#00f91a;margin-top: 65px;"><button style="font-size: 23px;" id="sureBtn">Confirm</button> <button style="margin-left: 30px;font-size: 23px;" id="exitBtn">Exit</button> </h1>
    <p style="text-align: center;">Crossword  Qianhe Liu</p>
    </div>
</body>
<script src="{% static '/js/jquery-3.4.1.js' %}"></script>
<script>
    let timerID;
    function jpg(){
        let maze=[[2,0],[4,0,1,0,4,0]];
        let strs="";
        let choiceO=["Nice!","Perfect!","Great!!!","Fantastic!","Good job!!","Ohhhhhhh","Brilliant!"];
        let choiceS=["(｡>∀<｡)","(=^▽^=)"," o(*≧▽≦)ツ ~","\（*^0^*）/","(´▽｀)ノ♪","੭ ᐕ)੭*⁾⁾","Σ(ﾟ∀ﾟﾉ)ﾉ","（★＞U＜★）"];
        let choicesT="------------";
        for(let i=0;i<maze.length;i++){
            for(let j=0;j<maze[i].length;j++){
                {#if(maze[i][j]==0){#}
                {#    strs="✧";#}
                if(maze[i][j]==1){
                    strs+=" "+choiceO[Math.random(choiceO.length)];
                }else{
                   strs=choicesT;
                }

            }

        }
        alert(strs);
    }
    function startTimer() {
        startTime = new Date().getTime();
        timerID = setInterval(updateTimer, 100);
    }
    function updateTimer() {
        currentTime = new Date().getTime() - startTime;
        {#var hours = Math.floor(currentTime / 3600000);#}
        {#var minutes = Math.floor((currentTime - (hours * 3600000)) / 60000);#}
        var seconds = currentTime  / 1000;
        {#hours = String(hours).padStart(2, "0");#}
        {#minutes = String(minutes).padStart(2, "0");#}
        seconds = String(seconds).padStart(2, "0");
        document.getElementById("usedTime").value =  seconds;
    }

    $(function(){
       let answer="{{ answer }}";
       let times=0,scores="{{ scores }}",timescores="{{ timescores }}";
       $("#currentPoints").val(parseInt(scores)+parseInt(timescores));
       $('#resultText').val(localStorage.getItem("resultText"));
       $("#tipsText").val(localStorage.getItem("tipsText"));

        startTimer();
        $("#sureBtn").click(function(){
if(scores>=18){
    window.location.href = "/guessThree?scores=" + scores + "&timescores=" + timescores;
                   localStorage.clear();
                   return ;
}
            let guessWord= $("#guessWord").val();
            if(answer==guessWord){
                scores=parseInt(scores)+2;
               let seconds=$("#usedTime").val();
               if(seconds<5.0) {
                   timescores=parseInt(timescores)+3;
               }else if(seconds<10){
                   timescores=parseInt(timescores)+2;
               }else if(seconds<20){
                   timescores=parseInt(timescores)+1;
               }
               $("#resultText").val("Congratulations!");
               localStorage.setItem("resultText","Congratulations！");
               $("#currentPoints").val(parseInt(scores)+parseInt(timescores));
                $("#tipsText").val("");
               localStorage.setItem("tipsText","");
               if(scores>=18){
                  $("#resultText").val("Congratulations on passing the second level!");
                   localStorage.setItem("resultText","Congratulations on passing the second level!");
                   $("#tipsText").val("Enter next level?");
                   localStorage.setItem("tipsText","Enter next level?");


               }else{
                   window.location.href="/guessTwo?scores="+scores+"&timescores="+timescores;
               }
            }
            if(answer!=guessWord){
                times++;
                if(times>=10){

        localStorage.setItem("resultText","");
        localStorage.setItem("tipsText","");
        $('#resultText').val("");
        $("#tipsText").val("");
                window.location.href = "/guessTwo?scores=" + scores + "&timescores=" + timescores;
                return ;
            }



                $("#resultText").val("Wrong!");
                $("#tipsText").val("Already guessed it wrong for "+times+" times, please guess again.");
                localStorage.setItem("resultText","Wrong!");
                localStorage.setItem("tipsText","Already guessed it wrong for "+times+" times, please guess again.");

                if(times==2){
                    $("#tipsText").val("The first letter of the correct word is: "+answer.charAt(0)+". Please guess again accordingly.");
                    localStorage.setItem("tipsText","The first letter of the correct word is: "+answer.charAt(0)+". Please guess again accordingly.");
                }else if(times==4){
                    $("#tipsText").val("The first two letters of the correct word are: "+answer.charAt(0)+answer.charAt(1)+". Please guess again accordingly.");
                    localStorage.setItem("tipsText","The first two letters of the correct word are: "+answer.charAt(0)+answer.charAt(1)+". Please guess again accordingly.");

                }else if(times==6){
                    $("#tipsText").val("The first three letters of the correct word are: "+answer.charAt(0)+answer.charAt(1)+answer.charAt(2)+". Please guess again accordingly.");
                    localStorage.setItem("tipsText","The first three letters of the correct word are: "+answer.charAt(0)+answer.charAt(1)+answer.charAt(2)+". Please guess again accordingly.");
                }else if(times==9){
                    $("#resultText").val("Already guessed for too many times! lol ");
                    localStorage.setItem("resultText", "Already guessed for too many times! lol ");
                    $("#tipsText").val("Let me tell you the answer: " + answer + ".");
                    {#window.location.href = "/guessTwo?scores=" + scores + "&timescores=" + timescores;#}
                }
            }
        });
        $("#exitBtn").click(function(){
            window.location.href="/backMain";
        });
    });
    function sleep(d){
  for(var t = Date.now();Date.now() - t <= d;);
}
</script>
</html>